/* Colors */
$text-dark: #141414;
$text-light: #616161;;
$button-hover:#870A11;
$light-gray: #F3F3F3;
$gray:#CECECE;
$green: #51B200;
$blue: #2AB7CA;



$site-bg:#fff;
$white:#fff;
$black: #1D1D1D;
$dark-red:#81171C;
$gold: #E8B14D;
$textLight: #F4F7F3;
$lightGrey: #E5E5E5;
$grey: #B5B5B5;
$darkGrey: #4E4E4E;

