/* Fonts */
$font: 'OpenSans', sans-serif;
$font-alt: "Futura", sans-serif;
$futura:'futuraMedium';
$futuraLight:'futuraLight';

@font-face {
    font-family: $futuraLight;
    src:  url('../fonts/FuturaPTLight.woff2') format('woff2'),
}
@font-face {
    font-family: $futura;
    src:  url('../fonts/FuturaPTMedium.woff2') format('woff2'),
}
@font-face {
    font-family: 'futuraBook';
    src:  url('../fonts/FuturaPTBook.woff2') format('woff2'),
}


$light: 300;
$regular: 400;
$thick: 500;
$semi-bold: 600;
$bold: 700;
