.hot-offers {
  .container{
    &--medium{
      padding:10px 0 63px;
      border-top:2px solid $textLight;
      border-bottom:2px solid $textLight;
    }
  }
  &__wrapper{
    display:flex;
    justify-content: space-between;

  }
  &__title {
    font-size: 34px;
    line-height: 46px;
    font-family: $futura;
    letter-spacing: -0.76px;
    color: $black;
    margin: 0 0 28px;
  }
}
