.search-form{
  position: relative;
  input[type=search]{
    width:445px;
    font-family:$futuraLight;
    border:1px solid $lightGrey;
    line-height: 24px;
    font-size:16px;
    color:$darkGrey;
    padding:10px 16px;
    border-radius: 200px;
    height:40px;
    @include mq(md){
      width:400px;
    }
    @include mq(lg){
      width:445px;
    }
    &::placeholder{
      color:$grey;
    }
  }
  &__submit{
    input{
      display:none;
    }
  }
  &__icon{
    position: absolute;
    right:20px;
    top:0;
    bottom:0;
    margin:auto;
    cursor:pointer;
    background:$white;
  }
}