.hero-slider {
  .container {
    &--medium {
      @include mq-max(md) {
        margin: 0 4px;
      }
    }
  }
  .slider {
    position: relative;
    width: 100%;
    padding: 60px 0 30px;
    @include mq(md) {
      padding: 30px 0 50px;
    }
    .slider-arrow__wrapper {
      background: $textLight;
      height: 32px;
      width: 32px !important;
      border-radius: 500px;
      box-shadow: 0px 3px 6px #00000029;
      position: absolute;
      z-index: 2;
      top: 90px;
      cursor: pointer;
      box-shadow: 0px 3px 6px #00000029;
      transition: all 0.3s;
      top: 197px;
      @include mq(sm){
        top:320px;
      }
      @include mq(md){
        top: 204px;
      }
      &:hover {
        background: $lightGrey;
      }
      &--left {
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mq(md) {
          left: -16px;
        }
        img {
          width: 7px;
          transform: rotate(180deg);
        }
      }
      &--right {
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mq(md) {
          right: -16px;
        }
        img {
          width: 7px;
        }
      }
    }
    .slider-wrapper {
      height: 126px;
      @include mq(sm){
        height:250px;
      }
      @include mq(md) {
        height: 380px;
      }
      .slick-list {
        border-radius: 12px;
        .slick-track {
        }
      }
    }
    .slide {
      position: relative;
      height: 126px;
      border-radius: 12px;
      background: $dark-red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 13px;
      overflow: hidden;
      @include mq(sm){
        height:250px;
      }
      @include mq(md) {
        padding: 20px 95px;
        height: 380px;
      }
      &__background {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      &__content {
        z-index: 2;
        max-width: 424px;
      }
      &__text-top {
        font-size: 12px;
        line-height: 22px;
        font-family: $futuraLight;
        letter-spacing: 0px;
        color: $gold;
        text-transform: uppercase;
        margin: 0 0 6px;
        @include mq(md) {
          margin: 0 0 10px;
          font-size: 17px;
          line-height: 22px;
        }
      }
      &__text-middle {
        font-size: 12px;
        line-height: 22px;
        font-family: $futuraLight;
        letter-spacing: -0.27px;
        color: $gold;
        color: $textLight;
        margin: 0 0 5px;
        @include mq(md) {
          font-size: 34px;
          line-height: 46px;
          margin: 0 0 5px;
        }
      }
      &__text-bottom {
        font-size: 12px;
        line-height: 22px;
        font-family: $futuraLight;
        letter-spacing: 0;
        color: $textLight;
        margin: 0;
        @include mq(md) {
          font-size: 17px;
          line-height: 22px;
          margin: 0 0 24px;
        }
      }
      &__button--wrapper {
        align-items: center;
        max-width: 100%;
        width: 100%;
        display: none;
        @include mq(md) {
          display: flex;
        }
      }
      &__button {
        font-family: $futuraLight;
        border: 1px solid $gold;
        border-radius: 8px;
        text-transform: uppercase;
        color: $textLight;
        background: $dark-red;
        padding: 16px 52px;
        transition: all 0.3s;
        &:hover {
          background: $red;
        }
      }
    }
    &-titles {
      .slick-list {
        .slick-track {
          @include mq(md) {
            transform: translate3d(0px, 0px, 0px) !important;
          }
          .slick-slide {
            letter-spacing: 0.2px;
            font-size: 12px;
            line-height: 14px;
            font-family: $futura;
            text-transform: uppercase;
            color: $grey;
            padding: 11px;
            cursor: pointer;
            position: relative;
            text-align: center;
            position: relative;
            margin: 10px 0 0;
            @include mq(md) {
              margin: 0;
            }
            @include mq(md) {
              &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
                height: 4px;
                width: 90%;
                transition: all 0.3s;
                background-color: $white;
                border-radius: 0 0px 100px 100px;
              }
            }
            &:hover {
              color: $dark-red;
              &:before {
                background-color: $dark-red;
              }
            }
            &:focus {
              outline: none;
            }
            &.slick-current {
              color: $dark-red;
              &:before {
                background-color: $dark-red;
              }
            }
          }
        }
      }
    }
  }
}
