.woocommerce-account {
  .entry-content {
    .woocommerce {
      .dashboard-hello {
        display: flex;
        flex-direction: column;
        strong {
          display: block;
          font-size: 20px;
          line-height: 26px;
          font-family: $futura;
          letter-spacing: -0.2px;
          color: $black;
        }
      }
    }
  }
}
