.woocommerce-account {
  &.woocommerce-edit-address {
    .entry-content {
      .woocommerce {
        .woocommerce-MyAccount-content {
          h3 {
            letter-spacing: -0.58px;
            color: $text-dark;
            font-size: 26px;
            font-family: $text-font;
            margin-bottom: 36px;
            font-weight: 500;
          }
          .woocommerce-address-fields {
            .woocommerce-address-fields__field-wrapper{
              margin-bottom:20px;
            }
            .form-row {
              padding: 0;
              margin: 0;
              label {
                letter-spacing: 0px;
                color: $text-light;
                font-size: 11px;
                line-height: 14px;
                font-family: $main-font;
                position: relative;
                left: 10px;
                bottom: -5px;
                z-index: 1;
                padding: 2px 10px;
                background: $site-bg;
                max-width: 100%;
                display: inline;
              }
              .input-text {
                border-radius: 6px;
                border: 1px solid $gray;
                padding: 10px;
                font-family: $main-font;
                color: $text-light;
                width: 100%;
                z-index: 6000;
                margin-bottom: 20px;
                background: $white;
              }
              .address-field {
                margin-bottom: 20px;
                select{
                  margin-bottom: 20px;
                }
              }
            }
            .button {
              text-align: center;
              width: 190px;
              background: $dark-red;
              border-radius: 6px;
              height: 47px;
              color: $white;
              font-family: $text-font;
              letter-spacing: 0.4px;
              font-weight: 600;
              font-size: 14px;
              text-transform: uppercase;
              cursor: pointer;
              transition: all 0.3s;
              &:hover{
                background:$button-hover;
              }
            }
          }
        }
      }
    }
  }
}
