.woocommerce-account {
  &.woocommerce-view-order {
    .entry-content {
      .woocommerce {
        .woocommerce-MyAccount-content {
          p {
            letter-spacing: 0.32px;
            color: $darkGrey;
            font-size: 16px;
            line-height: 24px;
            margin:30px 0;
            font-family:$futuraLight;
            @include mq(md){
              margin:unset;
            }
            mark {
              background: none;
              text-decoration: underline;
              font-weight: 600;
              color:$dark-red;
            }
          }
          .woocommerce-order-details {
            margin-bottom:45px;
            .woocommerce-order-details__title {
              letter-spacing: -0.4px;
              color: $black;
              font-family: $futura;
              line-height: 32px;
              font-size: 24px;
              margin: 10px 0 38px;
            }
            .woocommerce-table {
              background: $white;
              box-shadow: 0px 3px 6px #00000014;
              border-radius: 8px;
              border: none;
              position: relative;
              &:after{
                content:'';
                position: absolute;
                top:0;
                left: 0;
                right:0;
                margin:auto;
                height:8px;
                width:100%;
                background-color:$dark-red;
                border-radius: 100px 100px 0 0;
              }
              thead {
                tr {
                  color: $black;
                  font-size: 17px;
                  line-height: 22px;
                  letter-spacing: -0.58px;
                  font-family: $futuraLight;
                  th {
                    padding: 28px 35px 30px;
                    @include mq(md){
                    padding: 28px 35px 30px 125px;
                    }
                    span {
                    }
                  }
                }
              }
              tbody {
                tr {
                  td {
                    color: $darkGrey;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.32px;
                    font-family: $futuraLight;
                    padding: 22px 35px 22px;
                    @include mq(md){
                      padding: 22px 35px 22px 125px;

                    }
                    a {
                      color: $text-dark;
                    }
                    strong {
                    }
                  }
                }
              }
              tfoot {
                tr {
                  color: $black;
                  font-size: 17px;
                  line-height: 22px;
                  font-family: $futura;
                  font-weight: 400;
                  th,td {
                    font-weight: 400;
                    padding: 22px 35px 22px;
                    @include mq(md){
                      padding: 22px 35px 22px 125px;
                    }
                  }
                }
              }
            }

          }
          .woocommerce-customer-details{
            .woocommerce-column__title{
              letter-spacing: -0.2px;
              color: $black;
              font-family: $futura;
              font-size: 20px;
              margin: 0 0 18px;
            }
            address{
              background: $white;
              border:3px solid $lightGrey !important;
              border-radius: 8px;
              border: none;
              padding:33px 30px;
              color:$text-dark;
              font-size:16px;
              letter-spacing: 0.32px;
              line-height: 24px;
              font-family: $futuraLight;
              margin:0 0 20px;
              @include mq(md){
                margin:0;
              }
              p{
                color:$text-dark;
                font-size:16px !important;
                letter-spacing: 0.32px !important;
                line-height: 24px !important;
                font-family: $futuraLight !important;
                font-weight: 500;
                padding:0;
                margin:0;
                &:before{
                  content:none;
                }
              }
            }
          }
        }
      }
    }
  }
}
