.woocommerce-cart {
  .woocommerce button[name="update_cart"],
  .woocommerce input[name="update_cart"] {
    display: none !important;
  }
  .entry-header {
    margin-bottom: 30px;
    .entry-title {
      font-size: 24px;
      line-height: 32px;
      font-family: $futura;
      letter-spacing: -0.4px;
      color: $black;
    }
  }
  .entry-content {
    @include mq(md) {
      padding-bottom: 80px;
    }
    @include mq(lg) {
      padding-bottom: 100px;
    }
    .cart-empty {
      background: $blue;
      border: none;
      color: $white;
      font-size: 16px;
      letter-spacing: -0.16px;
      font-family: $text-font;
      padding: 15px 70px;
      line-height: 32px;
      &:before {
        content: none;
      }
    }
    .return-to-shop {
      a {
        text-align: center;
        width: 190px;
        background: $dark-red;
        border-radius: 6px;
        height: 47px;
        color: $white;
        font-family: $text-font;
        letter-spacing: 0.4px;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        &:hover {
          background: $button-hover;
        }
      }
    }
    .cart__wrapper {
      display: flex;
      justify-content: space-between;
      .cart-intro {
        margin: 0 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .cart__title {
        font-size: 24px;
        line-height: 32px;
        font-family: $futura;
        letter-spacing: -0.4px;
        color: $black;
      }
      .clear-cart {
        font-size: 12px;
        line-height: 14px;
        font-family: $futuraLight;
        letter-spacing: 0.2px;
        color: $grey;
        text-transform: uppercase;
        transition: all 0.3s;
        &:hover {
          color: $red;
        }
      }
      .cart-left-column {
        max-width: 730px;
        width: 100%;
        margin-right: 30px;
        @include mq(lg) {
          margin-right: 30px;
        }
        .go-to-shop {
          font-size: 12px;
          line-height: 14px;
          font-family: $futuraLight;
          letter-spacing: 0.2px;
          color: $darkGrey;
          text-transform: uppercase;
          border: 1px solid #d6d6d6;
          border-radius: 8px;
          padding: 9px 36px;
          transition: all 0.3s;
          &:hover {
            color: $gold;
            background: $dark-red;
          }
        }
      }
      .cart-right-column {
        max-width: 350px;
        width: 100%;
        .cart__title {
          margin: 0 0 30px;
        }
      }
    }
    .woocommerce-cart-form {
      .shop_table {
        background: $white 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #25252529;
        border-radius: 8px;
        border: none;
        margin-bottom: 50px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          height: 8px;
          width: 100%;
          background-color: $dark-red;
          border-radius: 100px 100px 0 0;
        }
        thead {
          tr {
            th {
              letter-spacing: -0.58px;
              color: $black;
              text-transform: capitalize;
              font-size: 17px;
              line-height: 22px;
              font-family: $futura;
              padding: 36px 0 32px;
            }
          }
        }
        tbody {
          .cart_item {
            td {
              padding: 9px 0;
            }
            .product-remove {
              padding: 9px 12px;
              a {
                background: $white;
                color: #969696 !important;
              }
            }
            .product-thumbnail {
              a {
                img {
                  width: 80px;
                  height: 70px;
                  object-fit: contain;
                }
              }
            }
            .product-name {
              font-family: $futuraLight;
              a {
                color: $darkGrey;
                transition: all 0.3s;
                font-family: $futuraLight;
                font-size: 16px;
                line-height: 24px;
                &:hover {
                  color: $dark-red;
                }
              }
            }
            .product-price {
              color: $darkGrey;
              font-family: $futuraLight;
              font-size: 16px;
              line-height: 24px;
            }
            .product-quantity {
              font-family: $futuraLight;
              .qib-container{
                justify-content: flex-start !important;
                .qib-button{
                  cursor:pointer;
                }
                input{
                  font-family: $futuraLight;
                }
              }
            }
            .product-subtotal {
              color: $darkGrey;
              font-family: $futuraLight;
              font-size: 16px;
            }
          }
          .actions {
            padding: 18px 10px 32px;
            @include mq(sm) {
              padding: 18px 72px 32px;
            }
            .coupon {
              display: flex;
              align-items: flex-end;
              &__wrapper {
                display: block;
              }
              label {
                display: block;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.32px;
                font-family: $futuraLight;
                text-align: left;
                color: $darkGrey;
              }
              input {
                min-width: 284px;
                width: 100%;
                border: 1px solid #d6d6d6;
                border-radius: 8px;
                height: 40px;
              }
              button {
                text-transform: uppercase;
                color: $black;
                letter-spacing: 0.2px;
                font-family: $futuraLight;
                background: $textLight;
                box-shadow: 0px 3px 6px #00000029;
                padding: 0 30px;
                height: 40px;

                border-radius: 8px;
                position: relative;
                left: -50px;
              }
            }
          }
        }
      }
    }
    .cart-collaterals {
      position: relative;
      box-shadow: 0px 3px 6px #00000014;
      border: 1px solid #e5e5e5;
      border-radius: 8px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 8px;
        width: 100%;
        background-color: $dark-red;
        border-radius: 100px 100px 0 0;
      }
      .cart_totals__title {
        display: none;
      }
      .cart_totals {
        background: $white 0% 0% no-repeat padding-box;
        width: 100%;
        box-shadow: 0px 3px 6px #25252529;
        .shop_table {
          padding: 37px 10px 30px;
          @include mq(sm) {
            padding: 37px 30px 30px;
          }
          border: none;
          .cart-subtotal {
            th {
              font-size: 17px;
              line-height: 22px;
              font-family: $futura;
              letter-spacing: -0.58px;
              color: $darkGrey;
            }
            td {
              font-size: 24px;
              line-height: 32px;
              font-family: $futura;
              letter-spacing: -0.4px;
              color: $black;
              .tax_label {
                font-size: 17px;
                line-height: 22px;
              }
            }
          }
          .order-total {
            .woocommerce-Price-amount {
              position: relative;
              &:after {
                position: absolute;
                bottom: -20px;
                right: 0;
                content: "+ dostawa";
                font-size: 13px;
                line-height: 18px;
                font-family: $futuraLight;
                letter-spacing: 0.26px;
                color: #458534;
              }
            }
          }
          .shipping {
            th {
              font-size: 17px;
              line-height: 22px;
              font-family: $futura;
              letter-spacing: -0.58px;
              color: $darkGrey;
            }
            td {
              font-size: 24px;
              line-height: 32px;
              font-family: $futura;
              letter-spacing: -0.4px;
              color: $black;
              bdi {
                font-weight: 400;
              }
              .tax_label,
              .woocommerce-shipping-destination {
                font-size: 17px;
                line-height: 22px;
              }
            }
            .woocommerce-shipping-calculator {
              display: none;
            }
          }
          .order-total,
          .tax-rate {
            th {
              font-size: 17px;
              line-height: 22px;
              font-family: $futura;
              letter-spacing: -0.58px;
              color: $darkGrey;
            }
            td {
              font-size: 24px;
              line-height: 32px;
              font-family: $futura;
              letter-spacing: -0.4px;
              color: $black;
              .includes_tax {
                font-size: 12px;
              }
            }
          }
        }
        .wc-proceed-to-checkout {
          padding: 0;
          .checkout-button {
            background: $dark-red;
            border-radius: 8px;
            letter-spacing: 0.2px;
            color: $gold;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 14px;
            font-family: $futuraLight;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            margin: 0;
            &:hover {
              background: $red;
            }
          }
        }
      }
    }
  }
}
