.woocommerce-account {
  .entry-content {
    .u-columns {
      display: flex;
      justify-content: center;
      .form-switcher {
        display: flex;
        justify-content: space-around;
        .woocommerce-account__form-title {
          width: 100%;
          cursor: pointer;
          &:after {
            background-color: white;
          }
          &.form-active {
            &:after {
              content: "";
              position: absolute;
              bottom: -6px;
              left: 0;
              right: 0;
              margin: auto;
              height: 4px;
              width: 175px;
              background-color: $dark-red;
              border-radius: 0 0 100px 100px;
            }
          }
        }
      }
      .woocommerce-form{
        //display:none;
        &.form-visible{
          //display:block;
        }
      }
      .u-column1,
      .u-column2 {
        background: $white;
        .register {
          padding-bottom: 0;
        }
        .login,
        .register {
          border: none;
          margin: 0;

          .woocommerce-form-row {
            padding: 0;
            margin: 0;
            label {
              letter-spacing: 0.32px;
              color: $darkGrey;
              font-size: 16px;
              line-height: 24px;
              font-family: $futuraLight;
              padding: 5px 0px;
              max-width: 100%;
              display: block;
            }
            .woocommerce-Input {
              border-radius: 8px;
              border: 1px solid #d6d6d6;
              padding: 10px;
              font-family: $futura;
              color: $darkGrey;
              width: 100%;
              z-index: 6000;
              margin-bottom: 20px;
            }
            .show-password-input {
              z-index: 7001;
            }
          }
          .woocommerce-privacy-policy-text {
            letter-spacing: 0.32px;
            color: $darkGrey;
            font-size: 16px;
            line-height: 24px;
            font-family: $futuraLight;
            margin-bottom: 43px;
            a {
              color: $dark-red;
              font-weight: 600;
            }
          }
          .woocommerce-account__remember-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            align-items: center;
            margin-bottom: 48px;
            &:before,
            &:after {
              content: none;
            }
            .woocommerce-form-login__rememberme {
              color: $text-light;
              font-size: 16px;
              letter-spacing: 0.32px;
              line-height: 24px;
              font-family: $futuraLight;
              display: flex;
              align-items: center;
              input {
                margin: 0;
                width: 24px;
                height: 24px;
                margin-right: 14px;
              }
            }
            .lost_password {
              a {
                color: $dark-red;
                font-size: 16px;
                letter-spacing: 0.32px;
                line-height: 24px;
                font-family: $futuraLight;
              }
            }
          }
          .woocommerce-password-strength {
            padding: 10px 0;
            margin-bottom: 10px;
            font-family: $futura;
            text-transform: uppercase;
          }
          .woocommerce-password-hint {
            letter-spacing: 0.32px;
            color: $darkGrey;
            font-size: 16px;
            line-height: 24px;
            font-family: $futuraLight;
            border-bottom: 1px solid $lightGrey;
            padding-bottom: 5px;
            margin-bottom: 5px;
          }
          .woocommerce-form-login__submit,
          .woocommerce-form-register__submit {
            text-align: center;
            width: 100%;
            background: $dark-red;
            border-radius: 8px;
            height: 51px;
            color: $gold;
            font-family: $futuraLight;
            letter-spacing: 0.4px;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              background: $red;
            }
          }
        }
      }
    }
  }
}
