.woocommerce-lost-password {
  article {
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000014;
    border: 1px solid $lightGrey;
    padding: 35px 65px 61px;
    position: relative;
    max-width: 540px;
    margin: 0 auto;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 8px;
      width: 100%;
      background-color: $dark-red;
      border-radius: 100px 100px 0 0;
    }
    .entry-header {
      .entry-title {
        padding-top: 0;
        color: $darkGrey;
        letter-spacing: 0.2px;
        font-size: 20px;
        line-height: 30px;
        font-family: $futuraLight;
        position: relative;
        top: 100px;
      }
    }
    .entry-content {
      padding-bottom: unset;
      .lost_reset_password {
        .woocommerce-account__logo {
          display: flex;
          justify-content: center;
          margin: 10px auto 30px;
          text-align: center;
          max-height: 60px;
          position: relative;
        top: -60px;
        }
        p {
          letter-spacing: 0.32px;
          color: $darkGrey;
          font-family: $futuraLight;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
        }
        .form-row {
          padding: 0;
          margin: 0;
          width: 100%;
          margin: 25px 0 15px;
          label {
            letter-spacing: 0.32px;
            color: $darkGrey;
            font-size: 16px;
            line-height: 24px;
            font-family: $futuraLight;
            padding: 5px 0px;
            max-width: 100%;
            display: block;
            text-align: left;
          }
          .input-text {
            border-radius: 8px;
            border: 1px solid #d6d6d6;
            padding: 10px;
            font-family: $futura;
            color: $darkGrey;
            width: 100%;
            z-index: 6000;
            margin-bottom: 20px;
          }
        }
      }
      .button {
        text-align: center;
        width: 100%;
        background: $dark-red;
        border-radius: 8px;
        height: 51px;
        color: $gold;
        font-family: $futuraLight;
        letter-spacing: 0.4px;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background: $red;
        }
      }
    }
  }
}
