.single-product {
  .product-type-variable {
    .onsale {
      width: 87px;
      height: 23px;
      top: 23px;
      left: 7px;
      background: $dark-red;
      border-radius: 8px;
      font-size: 11px;
      font-family: $futura;
      letter-spacing: -0.28px;
      color: $gold;
      width: 87px;
      height: 23px;
      text-transform: uppercase;
      position: absolute;
    }
    &.sale {
      .price-wrapper {
        position: relative;
        .price {
          display: flex;
          align-items: center;
          margin: 0;
          font-family: $futura;
          del {
            font-family: $futuraLight;
            display: block;
            margin-right: 11px;
            font-size: 16px;
            line-height: 24px;
          }
          ins {
            font-size: 24px;
            line-height: 32px;
            color: $black;
            font-family: $futura;
            display: inline-block;
            text-decoration: none;
            .amount {
              margin-right: 0;
            }
          }
        }
      }
    }
    .summary {
      .product_title {
        letter-spacing: -0.76px;
        color: $black;
        font-size: 34px;
        line-height: 46px;
        font-family: $futura;
        margin-bottom: 13px;
        padding: 0 !important;
      }
      .price {
        display: flex;
        font-family: $futura;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        .amount {
          margin-left: 5px;
        }
      }
      .woocommerce-product-details__short-description {
        margin: 28px 0 10px;
        .single-product-short-description__title {
          font-size: $black;
          letter-spacing: -0.55px;
          font-size: 22px;
          font-family: $futura;
          margin-bottom: 15px;
        }
        p {
          letter-spacing: 0.32px;
          color: $darkGrey;
          font-family: $futuraLight;
          font-size: 16px;
          max-width: 475px;
          line-height: 24px;
        }
      }
      .variations {
        margin-bottom: 0 !important;
        .label {
          font-size: 17px;
          line-height: 22px;;
          font-family: $futura;
          color: $black;
          .woo-selected-variation-item-name{
            display:none;
          }
        }
        .woo-variation-items-wrapper {
          .variable-items-wrapper {
            padding: 10px 0;
            .variable-item {
              font-size: 12px;
              line-height: 14px;
              font-family: $futuraLight;
              letter-spacing: .2px;
              color: $black;
              width: 115px;
              height: 40px;
              text-transform: uppercase;
              border-radius: 8px;
              margin-right: 5px;
              border:1px solid $grey;
              box-shadow: 0 0 0 1px $grey;
              .variable-item-span {
              }
              &.selected {
                border-color:$red;
                box-shadow: 0 0 0 2px $red;
              }
            }
          }
        }
        .reset_variations {
          font-size: 16px !important;
          font-family: $futura;
          letter-spacing: -0.4px;
          color: $black;
          text-decoration: underline;
          transition: all 0.3s;
          &:hover {
            color: $dark-red;
          }
        }
      }
      .single_variation_wrap {
        position: relative;
        .single_variation{
          display:none !important;
        }
        .woocommerce-variation-add-to-cart {
          display: flex;
          align-items: center;
          margin-top: 10px;
          .single_add_to_cart_button {
            margin-left: 10px;
            background: $dark-red;
            border-radius: 8px;
            font-size: 12px;
            font-family: $futuraLight;
            letter-spacing: 0.2px;
            color: $gold;
            text-transform: uppercase;
            padding: 14px 60px;
            display: flex;
            align-items: center;
            transition: all 0.3s;
            @include mq(sm) {
              margin-right: 30px;
            }
            &:hover {
              background: $red;
            }
            @include mq(sm) {
              padding: 14px 60px;
            }
            img {
              margin-right: 10px;
            }
          }
          .quantity {
            .qty {
              height: 34px;
              font-size: 16px;
              font-family: $futuraLight;
              border-radius:30px;
              border: 1px solid $grey;
              border-radius: 101px;
            }
          }
        }
      }
      .scrollToDescription {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin: 0 0 30px;
        &__img--wrapper {
          border: 1px solid $grey;
          border-radius: 5000px;
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
        }
        &__img {
        }
        &__text {
          text-transform: uppercase;
          letter-spacing: 0.2px;
          font-size: 12px;
          line-height: 14px;
          font-family: $futuraLight;
          color: $black;
        }
      }
    }
    .product-details-switcher {
      clear: both;
      display: flex;
      justify-content: center;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 40px;
      margin-top: 40px;
      @include mq(md) {
        margin-top: 110px;
      }
      &__item {
        text-align: left;
        font-size: 16px;
        line-height: 60px;
        font-family: $text-font;
        letter-spacing: -0.4px;
        color: $text-dark;
        font-weight: 500;
        margin: 0 21px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: $dark-red;
        }
        &--active {
          color: $dark-red;
        }
      }
    }
  }
}
