.single-product {
  .pswp {
    z-index: 15000;
  }
  .product-type-simple {
    &.sale {
      .price-wrapper {
        position: relative;
        .price {
          display: flex;
          align-items: center;
          margin: 0;
          font-family: $futura;
          del {
            font-family: $futuraLight;
            display: block;
            margin-right: 6px;
            font-size: 16px;
            line-height: 24px;
          }
          ins {
            font-size: 24px;
            line-height: 32px;
            color: $black;
            font-family: $futura;
            display: inline-block;
            text-decoration: none;
            font-weight: normal;
            letter-spacing: -0.4px;
            .amount {
              margin-right: 0;
            }
          }
        }
      }
    }
    .onsale {
      min-width: 82px;
      height: 25px;
      min-height: unset;
      top: 16px !important;
        left: 15px !important;
        right:unset !important;
      background: $white;
      border: 1px solid $lightGrey;
      border-radius: 6px;
      font-size: 13px;
      line-height: 18px;
      font-family: $futuraLight;
      letter-spacing: 0.26px;
      color: $black;
      text-transform: uppercase;
      padding: 0 15px;
      display: flex;
      align-items: center;
      position: absolute;
    }
    .woocommerce-product-gallery {
      .flex-control-thumbs {
        display: flex;
        justify-content: space-between;
        li {
          margin: 6px !important;
          width: 100% !important;
          display: flex;
          justify-content: center;
          img {
            width: 80px;
            height: 70px;
            object-fit: cover;
            border-radius: 4px;
            border: 1px solid #d6d6d6;
            &.flex-active {
              border-color: $dark-red;
              box-shadow: 0 0 0 1px $dark-red;
            }
          }
        }
      }
    }
    .summary {
      .product_title {
        letter-spacing: -0.76px;
        color: $black;
        font-size: 34px;
        line-height: 34px;
        font-family: $futura;
        margin-bottom: 5px;
        padding: 0 !important;
      }
      .woocommerce-product-rating {
        margin: 0 0 10px;
        .star-rating {
          &:before {
            color: $gold;
          }
          span {
            color: $gold;
          }
        }
        .woocommerce-review-link {
          font-size: 16px;
          line-height: 24px;
          font-family: $futuraLight;
          letter-spacing: 0.32px;
          color: $darkGrey;
          transition: all 0.3s;
          &:hover {
            color: $red;
            text-decoration: underline;
          }
        }
      }
      .price {
        display: flex;
        font-family: $futura;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        .amount {
          margin-right: 5px;
        }
      }
      .woocommerce-product-details__short-description {
        margin: 28px 0 10px;
        .single-product-short-description__title {
          font-size: $black;
          letter-spacing: -0.55px;
          font-size: 22px;
          font-family: $futura;
          margin-bottom: 15px;
        }
        p {
          letter-spacing: 0.32px;
          color: $darkGrey;
          font-family: $futuraLight;
          font-size: 16px;
          max-width: 475px;
          line-height: 24px;
        }
      }
      .cart {
        display: flex;
        align-items: center;
        margin-top: 10px;
        .qib-container{
          justify-content: flex-start !important;
          .qib-button{
            cursor:pointer;
          }
          input{
            font-family: $futuraLight;
          }
        }
        .single_add_to_cart_button {
          margin-left: 10px;
          background: $dark-red;
          border-radius: 8px;
          font-size: 12px;
          font-family: $futuraLight;
          letter-spacing: 0.2px;
          color: $gold;
          text-transform: uppercase;
          padding: 14px 14px !important;
          display: flex !important;
          align-items: center;
          transition: all 0.3s;
          height:unset  !important;
          @include mq(sm) {
            margin-right: 30px;
          }
          &:hover {
            background: $red;
          }
          @include mq(sm) {
            padding: 14px 30px !important;
          }
          @include mq(md){
            padding: 14px 40px !important;
          }
          @include mq(lg){
            padding: 14px 60px !important;
          }
          img {
            margin-right: 4px;
            @include mq(sm) {
              margin-right: 10px;
            }
          }
        }
        .quantity {
          .qty {
            height: 34px;
            font-size: 16px;
            font-family: $futuraLight;
            border-radius: 30px;
            border: 1px solid $grey;
            border-radius: 101px;
          }
        }
      }
      .scrollToDescription {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin: 0 0 30px;
        &:hover {
          .scrollToDescription {
            &__img--wrapper {
              border-color: $red;
            }
            &__text {
              color: $red;
              border-bottom: 1px solid $red;
            }
          }
        }
        &__img--wrapper {
          border: 1px solid $grey;
          border-radius: 5000px;
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
          transition: all 0.3s;
        }
        &__img {
        }
        &__text {
          text-transform: uppercase;
          letter-spacing: 0.2px;
          font-size: 12px;
          line-height: 14px;
          font-family: $futuraLight;
          color: $black;
          transition: all 0.3s;
        }
      }
    }
    .product-details-intro {
      clear: both;
      display: flex;
      justify-content: space-between;
      background:$white;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 40px;
      margin-top: 40px;
      padding: 10px 0;
      top:122px;
      position:sticky;
      @include mq(md) {
        margin-top: 110px;
        top:90px;
      }
      .product-shortcuts {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &__link {
          margin-right: 28px;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 18px;
          font-family: $futura;
          color: $black;
          transition: all 0.3s;
          &:hover {
            color: $dark-red;
          }
          &:last-of-type {
            margin-right: unset;
          }
        }
      }
      .addToCart-white {
        margin-left: 10px;
        background: $white;
        border-radius: 8000px;
        font-size: 12px;
        font-family: $futura;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        padding: 10px;
        transition: all 0.3s;
        border: 1px solid $grey;
        color: $black;
        display: flex;
        align-items: center;
        box-shadow: 0 0 0 1px $grey;
        width: 40px;
        height: 40px;
        @include mq(md) {
          width: unset;
          height: unset;
          border-radius: 8px;
          padding: 10px 25px;
        }
        span {
          display: none;
          @include mq(md) {
            display: block;
          }
        }
        &:hover {
          border: 1px solid $red;
          box-shadow: 0 0 0 2px $red;
        }
        img {
          @include mq(md) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
