.woocommerce-order-received {
  .entry-header {
    display: none;
  }
  .entry-content {
    .woocommerce-order {
      background: $white;
      box-shadow: 0px 3px 6px #00000014;
      border-radius: 8px;
      border: none;
      position: relative;
      padding: 45px 20px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 8px;
        width: 100%;
        background-color: $dark-red;
        border-radius: 100px 100px 0 0;
      }

      .thank-you-page-tick {
        &--wrapper {
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px auto;
        }
      }
      .woocommerce-notice {
        text-align: center;
        letter-spacing: 0.32px;
        color: $black;
        font-size: 16px;
        line-height: 24px;
        font-family: $futuraLight;
        max-width: 772px;
        margin: 0 auto;

        &.woocommerce-thankyou-order-received--big {
          letter-spacing: -0.4px;
          color: $black;
          font-size: 24px;
          line-height: 32px;
          font-family: $futura;
          margin: 0 auto 13px;
        }
      }
      .thank-you-button__wrapper {
        margin:20px auto;
        display: flex;
        justify-content: center;
      }
      .thank-you-button {
        border-radius: 8px;
        background: $dark-red;
        padding: 20px 40px;
        font-size: 12px;
        line-height: 14px;
        font-family: $futuraLight;
        letter-spacing: 0.2px;
        color: $white;
        text-transform: uppercase;
        transition: all 0.3s;
        text-align: center;
        @include mq(600){
          padding: 20px 90px;
        }
        &:hover{
          background:$red;
        }

      }
      .woocommerce-order-overview {
        border-top: 1px solid $light-gray;
        margin-top: 50px;
        display: flex;
        padding: 32px 0 0;
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        @include mq(md) {
          padding: 32px 0 46px;
          text-align: left;
          flex-direction: row;
          justify-content: space-around;
        }
        li {
          font-size: 16px;
          font-family: $futura;
          letter-spacing: -0.16px;
          color: #141414;
          text-transform: capitalize;
          font-weight: 500;
          padding-right: 0;
          border: none;
          margin-bottom: 10px;
          margin-right: 0;
          @include mq(md) {
            margin-bottom: 0;
          }
          strong {
            font-size: 14px;
            letter-spacing: -0.14px;
            font-family: $futuraLight;
            @include mq(md) {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
