.contact {
  padding: 0 0 80px;
  @include mq(lg) {
    padding: 0 0 100px;
  }
  &__title {
    color: $text-dark;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    line-height: 60px;
    font-family: $text-font;
    margin-bottom: 36px;
    letter-spacing: -0.95px;
    text-align: center;
  }
  &__subtitle {
    letter-spacing: -0.58px;
    color: $dark-red;
    font-family: $text-font;
    line-height: 50px;
    font-size: 26px;
    font-weight: 600;
    position: relative;
    margin-bottom: 52px;
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background: #e8e8e8;
      bottom: -20px;
      left: 0;
    }
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    @include mq(lg) {
      flex-direction: row;
    }
  }
  &__form {
    width: 100%;
  }
  &__details {
    width: 100%;
    margin-bottom:30px;
    @include mq(lg) {
      margin-bottom:unset;
      margin-left: 94px;
      max-width: 382px;
    }
    .details {
      display: flex;
      flex-direction: column;
      @include mq(sm){
        flex-direction: row;
        justify-content: flex-start;
      }
      @include mq(lg){
        flex-direction: column;
      }
      &-top {
        margin-bottom: 65px;
        position: relative;
        @include mq(sm){
          margin-right:35px;
        }
        @include mq(lg){
          margin-right:unset;
        }
        &:after {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          background: #e8e8e8;
          bottom: -35px;
          left: 0;
          @include mq(sm){
            content:none
          }
          @include mq(lg){
            content:"";
          }
        }
        .single {
          letter-spacing: 0px;
          font-size: 13px;
          font-family: $main-font;
          margin-bottom: 18px;
          &:last-of-type {
            margin-bottom: unset;
          }
          &__left {
            color: $text-dark;
            margin-right: 17px;
          }
          &__right {
            color: $text-light;
          }
        }
      }
      &-bottom {
        .single {
          letter-spacing: 0px;
          font-size: 13px;
          font-family: $main-font;
          margin-bottom: 18px;
          color: $text-light;
          display: flex;
          align-items: center;
          &:last-of-type {
            margin-bottom: unset;
          }
          &__left {
            color: $text-dark;
            width: 21px;
            height: 21px;
            margin-right: 17px;
          }
        }
      }
    }
  }
}
