.contact {
  padding: 0 0 30px;
  @include mq(lg) {
    padding: 0 0 50px;
  }
  &__subtitle {
    letter-spacing: -0.4px;
    color: $black;
    font-family: $futura;
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 26px;
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    @include mq(lg) {
      flex-direction: row;
    }
  }
  &__form {
    width: 100%;
    margin:0 0 20px;
    @include mq(lg) {
      margin:0;
      max-width: 540px;
    }
  }
  &__details {
    width: 100%;
    margin-bottom: 30px;
    @include mq(lg) {
      margin-bottom: unset;
      margin-right: 47px;
    }
    .details {
      display: flex;
      flex-direction: column;
      @include mq(sm) {
        flex-direction: row;
        justify-content: flex-start;
      }
      @include mq(lg) {
        flex-direction: column;
      }
      &-block {
        margin-bottom: 65px;
        position: relative;
        &:last-of-type {
          margin-bottom: 0;
        }
        @include mq(sm) {
          margin-right: 35px;
        }
        @include mq(lg) {
          margin-right: unset;
        }
        &__title {
          letter-spacing: -0.1px;
          color: $black;
          font-family: $futura;
          line-height: 26px;
          font-size: 20px;
          margin-bottom: 19px;
        }
        .single {
          margin-bottom: 9px;
          display: grid;
          @include mq(lg) {
            grid-template-columns: 160px 1fr;
          }
          &:last-of-type {
            margin-bottom: unset;
          }
          &__left {
            color: $black;
            font-family: $futura;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.58px;
          }
          &__right {
            font-family: $futuraLight;
            color: $darkGrey;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.32px;
          }
        }
      }
    }
  }
}
