.logo {
  &--header {
    max-width: 195px;
    height: auto;
    @include mq(sm) {
      max-width: 195px;
    }
  }
  &--footer {
    max-width: 227px;
    height: 61px;
    @include mq(md) {
      margin-right: 28px;
    }
  }
}
