.footer {
  padding: 94px 0 162px;
  margin: 0;
  border-top: 5px solid $dark-red;
  .container {
    &--medium{
      display: flex;
      justify-content: space-between;
    }
  }
  &-menus{
    display: flex;
  }
  &-menu {
    width: 160px;
    margin-right:30px;
    &__title {
      color: $black;
      font-family: $futura;
      font-weight: medium;
      letter-spacing: -0.2px;
      font-size: 20px;
      margin: 0 0 15px;
    }
    &__list {
      .list-item {
        &__link {
          color: $darkGrey;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.32px;
          margin: 0 0 13px;
          font-family: $futura;
        }
      }
    }
  }
  &-details{
    max-width: 195px;
    width:100%;
  }
  &__logo{
    max-width:195px;
    width:100%;
    margin: 0 0 15px;
  }
  &__copyright{
    color:$darkGrey;
    font-family:$futura;
    font-size:13px;
    line-height: 18px;
    margin: 0 0 29px;
    display: block;
  }
  &__icons{
    display: flex;
    .list-item{
      &__link{
        margin-right:24px;
      }
      &__icon{

      }
    }
  }
}
