.footer {
  margin: 0;
  border-top: 5px solid $dark-red;
  padding: 52px 0 98px;
  @include mq(lg) {
    padding: 94px 0 162px;
  }
  .container {
    &--medium {
      display: flex;
      flex-direction: column-reverse;
      @include mq(lg) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  &-menus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 53px 14px;
    @include mq(md) {
      display: flex;
    }
  }
  &-menu {
    @include mq(md) {
      width: 160px;
      margin-right: 30px;
    }
    @include mq(lg){
      margin-right: 20px;
    }
    @include mq(xl){
      margin-right: 30px;
    }
    &__title {
      color: $black;
      font-family: $futura;
      font-weight: medium;
      letter-spacing: -0.2px;
      font-size: 20px;
      margin: 0 0 15px;
    }
    &__list {
      .list-item {
        &__link {
          color: $darkGrey;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.32px;
          margin: 0 0 13px;
          font-family: $futuraLight;
        }
      }
    }
  }
  &-details {
    width: 100%;
    max-width: 195px;
    margin: 0 auto 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include mq(lg) {
      margin: 0;
      text-align: left;
      align-items: flex-start;
    }
  }
  &__logo {
    max-width: 195px;
    width: 100%;
    margin: 0 0 15px;
  }
  &__copyright {
    color: $darkGrey;
    font-family: $futura;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 29px;
    display: block;
  }
  &__icons {
    display: flex;
    .list-item {
      &__link {
        margin-right: 24px;
      }
      &__icon {
      }
    }
  }
}
