.header {
  transition: all 0.3s;
  &-desktop {
    box-shadow: 0px 3px 6px #00000029;
    display: none;
    background: $white;
    position: sticky;
    top: 0;
    z-index: 10000;
    @include mq(md) {
      display: block;
    }

    .container {
      &--medium {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__woocommerce {
        margin-left: 40px;
      }
      &__link {
        margin-right: 31px;
        &:last-of-type {
          margin: 0;
        }
      }
      &__cart {
        position: relative;
        &-number {
          position: absolute;
          bottom: -4px;
          right: -7px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          background: $dark-red;
          color: $gold;
          font-family: $text-font;
          font-size: 12px;
          line-height: 24px;
          border-radius: 500%;
        }
      }
    }
    &__menu {
      padding: 19px 0 17px;
      ul {
        display: flex;
        .menu-item {
          margin-right: 32px;
          &:last-of-type {
            margin-right: 0;
          }
          a {
            transition: all 0.3s;
            color: $black;
            font-family: $futura;
            font-weight: 500;
            font-size: 17px;
            line-height: 22px;
          }
          &.current-menu-item {
            a {
              color: $dark-red;
            }
            &.menu-item-type-custom {
              a {
                color: $text-dark;
              }
            }
          }
          &.menu-item-type-custom {
            a {
              color: $text-dark;
            }
          }
          &:hover {
            a {
              transition: all 0.3s;
              color: $dark-red;
            }
          }
        }
      }
    }
  }
}
